<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/index.css"/>
    <script src="js/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div :class="form">
          <h3 v-if="isTrue">登录</h3>
          <h3 v-if="!isTrue">注册</h3>
          <form action="http://localhost:3000/login" method="post">
            <ul>
              <li class="username">
                <label for="username">Email</label>
                <input type="text" name="username" id="username">
              </li>
              <li class="password" v-if="!isTrue">
                <label for="password">Password</label>
                <input type="text" name="password" id="password">
              </li>
              <li class="confirm">
                <label for="confirm">Confirm</label>
                <input type="text" name="confirm" id="confirm">
              </li>
              <li>
                <a href="javascript:;">忘记密码？</a>
              </li>
              <li class="submit">
                <input type="submit" value="提交">
              </li>
              <li class="facebook">
                <button class="btn-facebook">
                  使用<strong>FaceBook</strong>账号登陆
                </button>
              </li>
            </ul>
          </form>
        </div>
        <div :class="control">
          <div class="img">
            <div v-if="!isTrue">
              <h3>已有账号</h3>
              <p>由账号就登录吧，好久不见啦！</p>
            </div>
            <div v-if="isTrue">
              <h3>还未注册</h3>
              <p>您需要先注册，才能登录！</p>
            </div>
            <button class="btn" @click="registerBtn" v-if="isTrue">注册</button>
            <button class="btn" @click="loginBtn" v-if="!isTrue">登录</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          isTrue: true,
          form: "form",
          control: "control"
        },
        methods: {
          loginBtn() {
            this.isTrue = !this.isTrue;
            this.form = "form";
            this.control = "control";
          },
          registerBtn() {
            this.isTrue = !this.isTrue;
            this.form =  "form signup";
            this.control =  "control login";
          }
        },
      });
    </script>
  </body>
</html>